.lmj-plant-list {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
}

.lmj-plant-list-element {
    margin: 10px;
    background-color: #353535;
    border-radius: 20px;
	display: flex;
	flex-direction: column;
}

.lmj-cart-add-button {
	background: #31b572;
	color: white;
	outline: none;
	border: none;
    border-radius: 10px;
	font-weight: 600;
	cursor: pointer;
	align-self: self-start;
    margin: 10px auto;
	padding: 10px;
    transition: ease-in-out .2s;
}

.lmj-cart-add-button:hover {
	background: white;
	color: #31b572;
}